Thumbs.db
*.DS_Store
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sdf
*.svn
*.opensdf
*.testsettings
*.unsuccessfulbuild
*.sass-cache
*.dbmdl
~$*
[Pp]ackages
[Ii]pch/
[Oo]bj/
[Rr]elease/
[Ii]ntermediate
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.vssscc
$tf*/
